.photo-column{
    background-color: aquamarine;
    height: 1000px;
}
 #photo-gallery {
     background-color: coral;
     height: 1000px;
 }
 .photo-sm {
     width: 100%;
     height: 400px;
     background-color: cornflowerblue;
     margin-top: 20px;
     overflow: hidden;
 }

 .photo-big {
    width: 100%;
    height: 500px;
    background-color: darkcyan;
    margin-top: 20px;
    overflow: hidden;
 }
 @media(min-width: 600px) {
     .video {
         margin-top: 20px;
         width: 100%;
         height: 350px;
     }
 }
 @media(min-width: 800px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 500px;
    }
}
@media(min-width: 1000px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 700px;
    }
}